

.bannerGif{
    margin: 0 auto;
    width: 73%;
    img{
        width: 100%;
    }

    @media screen and (max-width : 767px) {
        width: 100%;
        
    }
}


.sliderHeadingTitle,
.categoriesHeadingTitle {
    text-align: center;
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    // margin: 3rem 0; 
}

.sliderHeadingTitle {
    margin: 1rem 0;
}

.categoriesHeadingTitle {
    margin: 5rem 0;
}

// categoy card

.categoryContainer {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap :2rem;
}

@media (max-width : 767px) {
    .categoryContainer {
        // width: 100%;
        grid-template-columns : repeat(auto-fit, minmax(100%, 1fr));
        grid-template-rows:1fr;
        height: 250px;
        overflow: auto;
      

    }
}