:root {
  --color-green: #4bbc88;
  --color-blue: #3677cb;
  --color-black: #121212;
  --color-white: #fff;
  --color-red : #f10000;
--color-gray : #f4f8f9;


  --text-color: var(--color-black);
  --valid-color: var(--color-green);
  --error-color: var(--color-red);
  --card-bg-color: var(--color-gray);

  /* font-family */
  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-headings: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* font size: */
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  /* line height */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    
 /** NAVBAR **/
 --nav-item-font-family: var(--font-family-headings);
 --nav-item-font-weight: var(--font-weight-bold);
 --nav-item-font-size: var(--font-size-medium);
 --nav-item-letter-spacing: .05rem;
 --nav-item-display: inline-block;
 --nav-item-margin: 0 0 0 2rem;
 --nav-item-link-hover: var(--color-green);

  /** BUTTON **/
  --button-display: inline-block;
  --button-padding: 0.8rem 2rem;
  --button-border: var(--color-green) solid 0.2rem;
  --button-color: var(--color-white);
  --button-text-decoration: none;
  --button-font-size: var(--font-size-large);
  --button-hover-color: var(--color-white);
  --button-hover-text-decoration: none;
  --button-hover-background: var(--color-green);

  /** MOTION **/
  --transition-duration: 0.3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
  }

  @media (max-width: 767px) {
    :root {
      --nav-item-margin: 0;
    }
  }

/* Base      ============================= */
  
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  }


body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
  }


li,ol li,ul li {
  list-style: none
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width:960px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #button-nav {
    display: var(--button-display);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
    cursor: pointer;
    background: var(--color-blue);
    border-radius: 5rem;
  }                                                                                                                                                                                                                       
  
  #button-nav:hover {
    transition-duration: var(--transition-duration);
    transition-property: all;
  }
} 

.button-primary {
  color: var(--color-white);
  background: var(--color-blue);
}

.button-primary:hover {
  color: var(--color-blue);
  background: var(--color-white);
}


/* responsive typography for small devices */
@media (max-width: 480px) {
  html {
    font-size: 57%;
  }
}

@media (min-width: 481px) and (max-width:767px) {
  html {
    font-size: 60%;
  }
}


 
/*** 2. LAYOUT ***/

/* Layout  ============================= */

    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    